body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:501px;
    top:46px;
    width:295px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:269px;
    top:137px;
    width:735px;
    height:393px;
    overflow:hidden;
}

#pd4u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:393px;
    
}

.u6 {
    position:absolute;
    left:233px;
    top:4px;
    width:217px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:643px;
    top:356px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u8 {
    position:absolute;
    left:533px;
    top:356px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:447px;
    top:356px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:99px;
    top:68px;
    width:578px;
    height:259px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u11 {
    position:absolute;
    left:98px;
    top:44px;
    width:579px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:39px;
    top:44px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:393px;
    
}

.u13 {
    position:absolute;
    left:547px;
    top:342px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:260px;
    top:5px;
    width:181px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:634px;
    top:342px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:232px;
    top:147px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:232px;
    top:182px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:290px;
    top:143px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:290px;
    top:178px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:276px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u21 {
    position:absolute;
    left:242px;
    top:242px;
    width:239px;
    height:29px;
    overflow:hidden;
}

#pd2u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u22 {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u23 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u24 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:393px;
    
}

.u25 {
    position:absolute;
    left:647px;
    top:355px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:256px;
    top:5px;
    width:250px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:498px;
    top:355px;
    width:139px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:99px;
    top:68px;
    width:578px;
    height:135px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:98px;
    top:44px;
    width:579px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:39px;
    top:44px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:99px;
    top:240px;
    width:578px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:39px;
    top:214px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u33 {
    position:absolute;
    left:237px;
    top:330px;
    width:252px;
    height:34px;
    overflow:hidden;
}

#pd1u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:34px;
    
}

.u34 {
    position:absolute;
    left:0px;
    top:8px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u33 {
    position:absolute;
    left:0px;
    top:0px;
    width:252px;
    height:34px;
    
}

.u35 {
    position:absolute;
    left:0px;
    top:8px;
    width:247px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:393px;
    
}

.u36 {
    position:absolute;
    left:314px;
    top:0px;
    width:181px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:647px;
    top:354px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u38 {
    position:absolute;
    left:49px;
    top:63px;
    width:98px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:157px;
    top:104px;
    width:511px;
    height:173px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:157px;
    top:63px;
    width:511px;
    height:16px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:62px;
    top:104px;
    width:76px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:564px;
    top:354px;
    width:64px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u43 {
    position:absolute;
    left:272px;
    top:294px;
    width:265px;
    height:48px;
    overflow:hidden;
}

#pd1u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:48px;
    
}

.u44 {
    position:absolute;
    left:30px;
    top:8px;
    width:191px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u43 {
    position:absolute;
    left:0px;
    top:0px;
    width:265px;
    height:48px;
    
}

.u45 {
    position:absolute;
    left:11px;
    top:14px;
    width:246px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:393px;
    
}

.u46 {
    position:absolute;
    left:244px;
    top:17px;
    width:67px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:321px;
    top:17px;
    width:76px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:407px;
    top:17px;
    width:80px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:625px;
    top:355px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u50 {
    position:absolute;
    left:51px;
    top:63px;
    width:647px;
    height:275px
}

.u51_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:20px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:78px;
    top:0px;
    width:565px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:571px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:561px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:20px;
    width:78px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:78px;
    top:20px;
    width:565px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:571px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:561px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u55_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:40px;
    width:78px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u57_normal.png');
}

.u61_container {
    position:absolute;
    left:78px;
    top:40px;
    width:565px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:571px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:561px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:60px;
    width:78px;
    height:210px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:216px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:78px;
    top:60px;
    width:565px;
    height:210px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:571px;
    height:216px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:561px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u71_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u72 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CSU09___Publicar_em_listas_de_discussao_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:119px;
    top:137px;
    width:58px;
    height:54px;
}

#u73_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:54px;
}

.u74 {
    position:absolute;
    left:2px;
    top:19px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

