body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -32px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:32px;
    top:9px;
    width:1024px;
    height:712px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:712px;
}

.u1 {
    position:absolute;
    left:2px;
    top:348px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:62px;
    top:319px;
    width:961px;
    height:377px;
    overflow:hidden;
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:377px;
    
}

.u3_normal {
    background-image: url('../Menu_Sindico_files/u3_normal.png');
}

.u3_container {
    position:absolute;
    left:-3px;
    top:-2px;
    width:195px;
    height:375px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:195px;
    height:375px;
}

.u4 {
    position:absolute;
    left:2px;
    top:180px;
    width:191px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_normal {
    background-image: url('../Menu_Sindico_files/u5_normal.png');
}

.u5_container {
    position:absolute;
    left:271px;
    top:0px;
    width:572px;
    height:371px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:572px;
    height:371px;
}

.u6 {
    position:absolute;
    left:2px;
    top:178px;
    width:568px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:14px;
    top:1px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:14px;
    top:39px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:14px;
    top:75px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:14px;
    top:114px;
    width:165px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:14px;
    top:153px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:15px;
    top:191px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:18px;
    top:299px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:14px;
    top:337px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:13px;
    top:261px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:12px;
    top:226px;
    width:163px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:961px;
    height:377px;
    
}

.u17_normal {
    background-image: url('../Menu_Sindico_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:351px;
    top:103px;
    width:283px;
    height:131px;
}

#u17_img {
    position:absolute;
    left:0px;
    top:0px;
    width:283px;
    height:131px;
}

.u18 {
    position:absolute;
    left:2px;
    top:58px;
    width:279px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:372px;
    top:175px;
    width:240px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:371px;
    top:111px;
    width:240px;
    height:48px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Menu_Sindico_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:891px;
    top:319px;
    width:52px;
    height:47px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u22 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

