body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:499px;
    top:48px;
    width:320px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:269px;
    top:181px;
    width:735px;
    height:361px;
    overflow:hidden;
}

#pd4u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u6 {
    position:absolute;
    left:549px;
    top:320px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:260px;
    top:5px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:636px;
    top:320px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:232px;
    top:147px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:232px;
    top:182px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:290px;
    top:143px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:290px;
    top:178px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:276px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:242px;
    top:242px;
    width:239px;
    height:29px;
    overflow:hidden;
}

#pd2u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u15 {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u16 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u17 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u18 {
    position:absolute;
    left:233px;
    top:4px;
    width:181px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:215px;
    top:277px;
    width:394px;
    height:26px;
    overflow:hidden;
}

#pd2u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:394px;
    height:26px;
    
}

.u20 {
    position:absolute;
    left:0px;
    top:3px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:394px;
    height:26px;
    
}

.u21 {
    position:absolute;
    left:0px;
    top:4px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:394px;
    height:26px;
    
}

.u22 {
    position:absolute;
    left:0px;
    top:4px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:644px;
    top:323px;
    width:74px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:549px;
    top:323px;
    width:79px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:154px;
    top:117px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:89px;
    top:74px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:268px;
    top:67px;
    width:353px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:268px;
    top:117px;
    width:353px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:266px;
    top:214px;
    width:148px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:151px;
    top:218px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:431px;
    top:218px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:483px;
    top:216px;
    width:138px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u33 {
    position:absolute;
    left:266px;
    top:0px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:458px;
    top:320px;
    width:174px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:642px;
    top:320px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:642px;
    top:320px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:163px;
    top:239px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:277px;
    top:233px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:317px;
    top:320px;
    width:131px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:163px;
    top:100px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:98px;
    top:57px;
    width:145px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:277px;
    top:50px;
    width:355px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:277px;
    top:100px;
    width:355px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:276px;
    top:190px;
    width:148px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:161px;
    top:194px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:441px;
    top:194px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:493px;
    top:192px;
    width:138px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u48 {
    position:absolute;
    left:112px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:222px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:332px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:442px;
    top:35px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:285px;
    top:0px;
    width:173px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:552px;
    top:35px;
    width:79px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u54 {
    position:absolute;
    left:53px;
    top:71px;
    width:665px;
    height:275px
}

.u55_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:78px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:78px;
    top:0px;
    width:447px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:453px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:443px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:524px;
    top:0px;
    width:135px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:20px;
    width:78px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:78px;
    top:20px;
    width:447px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:453px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:443px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:524px;
    top:20px;
    width:135px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u61_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:40px;
    width:78px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u63_normal.png');
}

.u69_container {
    position:absolute;
    left:78px;
    top:40px;
    width:447px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:453px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:443px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u65_normal.png');
}

.u71_container {
    position:absolute;
    left:524px;
    top:40px;
    width:135px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:60px;
    width:78px;
    height:210px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:84px;
    height:216px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:74px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:78px;
    top:60px;
    width:447px;
    height:210px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:453px;
    height:216px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:443px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:524px;
    top:60px;
    width:135px;
    height:210px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:141px;
    height:216px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:131px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u83 {
    position:absolute;
    left:253px;
    top:9px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84 {
    position:absolute;
    left:537px;
    top:319px;
    width:84px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:152px;
    top:114px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:266px;
    top:214px;
    width:148px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u87 {
    position:absolute;
    left:228px;
    top:257px;
    width:279px;
    height:26px;
    overflow:hidden;
}

#pd2u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u88 {
    position:absolute;
    left:0px;
    top:3px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u89 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u87 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u90 {
    position:absolute;
    left:0px;
    top:4px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:84px;
    top:71px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:151px;
    top:218px;
    width:81px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:266px;
    top:64px;
    width:355px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:631px;
    top:319px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u95 {
    position:absolute;
    left:266px;
    top:114px;
    width:355px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u96 {
    position:absolute;
    left:431px;
    top:218px;
    width:42px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:483px;
    top:216px;
    width:138px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u98_menu {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u98_menu.png');
}

.u98_menu {
    position:absolute;
    left:490px;
    top:136px;
    width:296px;
    height:35px;
}

#u98_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:293px;
    height:32px;
}

#u99 {
    position:absolute;
    left:3px;
    top:3px;
    width:286px;
    height:25px
}

.u100_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u100_normal.png');
}

.u100_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u100_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u101 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u102_normal.png');
}

.u102_container {
    position:absolute;
    left:150px;
    top:0px;
    width:131px;
    height:20px;
}

#u102_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u103 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u104_normal.png');
}

.u104_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u104_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u105 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106_normal {
    background-image: url('../CSU10___Registrar_ocorrencia_files/u106_normal.png');
}

.u106_container {
    position:absolute;
    left:119px;
    top:139px;
    width:62px;
    height:52px;
}

#u106_img {
    position:absolute;
    left:0px;
    top:0px;
    width:62px;
    height:52px;
}

.u107 {
    position:absolute;
    left:2px;
    top:18px;
    width:58px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u115 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u117 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

