body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:495px;
    top:49px;
    width:341px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:259px;
    top:195px;
    width:735px;
    height:361px;
    overflow:hidden;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u6 {
    position:absolute;
    left:627px;
    top:321px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:297px;
    top:0px;
    width:173px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:517px;
    top:321px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:264px;
    top:87px;
    width:80px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:354px;
    top:81px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u11 {
    position:absolute;
    left:70px;
    top:321px;
    width:432px;
    height:26px;
    overflow:hidden;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:432px;
    height:26px;
    
}

.u12 {
    position:absolute;
    left:26px;
    top:5px;
    width:379px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u13 {
    position:absolute;
    left:627px;
    top:321px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u14 {
    position:absolute;
    left:297px;
    top:0px;
    width:173px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:517px;
    top:321px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u16 {
    position:absolute;
    left:51px;
    top:39px;
    width:654px;
    height:267px
}

.u17_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:375px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:381px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:375px;
    top:0px;
    width:164px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:540px;
    top:0px;
    width:109px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:0px;
    top:20px;
    width:375px;
    height:20px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:381px;
    height:26px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u25_normal.png');
}

.u25_container {
    position:absolute;
    left:375px;
    top:20px;
    width:164px;
    height:20px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:26px;
}

.u26 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u27_normal.png');
}

.u27_container {
    position:absolute;
    left:540px;
    top:20px;
    width:109px;
    height:20px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:26px;
}

.u28 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u29_normal.png');
}

.u29_container {
    position:absolute;
    left:0px;
    top:40px;
    width:375px;
    height:222px;
}

#u29_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:381px;
    height:228px;
}

.u30 {
    position:absolute;
    left:2px;
    top:2px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:375px;
    top:40px;
    width:164px;
    height:222px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:170px;
    height:228px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:160px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:540px;
    top:40px;
    width:109px;
    height:222px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:115px;
    height:228px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:105px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u35_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u36 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48_normal {
    background-image: url('../CSU25___Pontuar_Funcionarios_files/u48_normal.png');
}

.u48_container {
    position:absolute;
    left:122px;
    top:139px;
    width:63px;
    height:49px;
}

#u48_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:49px;
}

.u49 {
    position:absolute;
    left:2px;
    top:16px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

