* html .u118_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u118_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u120_normal.png");
}

* html .u122_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u122_normal.png");
}

* html .u124_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u124_normal.png");
}

* html .u126_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u126_normal.png");
}

* html .u128_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u128_normal.png");
}

* html .u130_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u124_normal.png");
}

* html .u132_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u126_normal.png");
}

* html .u134_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u128_normal.png");
}

* html .u136_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u124_normal.png");
}

* html .u138_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u126_normal.png");
}

* html .u140_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u128_normal.png");
}

* html .u142_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u124_normal.png");
}

* html .u144_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u126_normal.png");
}

* html .u146_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u128_normal.png");
}

* html .u148_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u148_normal.png");
}

* html .u150_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u150_normal.png");
}

* html .u152_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u152_normal.png");
}

* html .u171_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u171_normal.png");
}

* html .u173_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU08___Gerenciar_pessoas_que_terao_acesso_ao_predio_files/u173_normal.png");
}

