* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u81_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u83_normal.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u85_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u87_normal.png");
}

* html .u89_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u85_normal.png");
}

* html .u91_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u87_normal.png");
}

* html .u93_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u85_normal.png");
}

* html .u95_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u87_normal.png");
}

* html .u97_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u85_normal.png");
}

* html .u99_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u87_normal.png");
}

* html .u101_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u101_normal.png");
}

* html .u103_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u103_normal.png");
}

* html .u113_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u113_normal.png");
}

* html .u120_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU01___Gerenciar_Condominios_files/u120_normal.png");
}

