body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:495px;
    top:49px;
    width:295px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:269px;
    top:138px;
    width:735px;
    height:396px;
    overflow:hidden;
}

#pd4u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:396px;
    
}

.u6 {
    position:absolute;
    left:545px;
    top:352px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u7 {
    position:absolute;
    left:260px;
    top:5px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:632px;
    top:352px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:232px;
    top:147px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:232px;
    top:182px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:290px;
    top:143px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u12 {
    position:absolute;
    left:290px;
    top:178px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u13 {
    position:absolute;
    left:276px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:242px;
    top:242px;
    width:239px;
    height:29px;
    overflow:hidden;
}

#pd2u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u15 {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u16 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u17 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:396px;
    
}

.u18 {
    position:absolute;
    left:639px;
    top:356px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u19 {
    position:absolute;
    left:278px;
    top:0px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u20 {
    position:absolute;
    left:558px;
    top:357px;
    width:71px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u21 {
    position:absolute;
    left:230px;
    top:281px;
    width:279px;
    height:26px;
    overflow:hidden;
}

#pd2u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u22 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u23 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u24 {
    position:absolute;
    left:0px;
    top:4px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:222px;
    top:84px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:222px;
    top:140px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:222px;
    top:199px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:312px;
    top:78px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:312px;
    top:134px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:312px;
    top:191px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:224px;
    top:242px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:314px;
    top:237px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:396px;
    
}

.u33 {
    position:absolute;
    left:641px;
    top:358px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u34 {
    position:absolute;
    left:248px;
    top:0px;
    width:220px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:564px;
    top:358px;
    width:67px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:222px;
    top:84px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:222px;
    top:140px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:222px;
    top:199px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:312px;
    top:78px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u40 {
    position:absolute;
    left:312px;
    top:134px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u41 {
    position:absolute;
    left:312px;
    top:191px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u42 {
    position:absolute;
    left:224px;
    top:242px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:314px;
    top:237px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:396px;
    
}

.u44 {
    position:absolute;
    left:275px;
    top:0px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:648px;
    top:356px;
    width:71px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u46 {
    position:absolute;
    left:224px;
    top:89px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:224px;
    top:145px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:224px;
    top:196px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:314px;
    top:83px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:314px;
    top:139px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:567px;
    top:356px;
    width:71px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u52 {
    position:absolute;
    left:244px;
    top:299px;
    width:279px;
    height:26px;
    overflow:hidden;
}

#pd3u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u53 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u54 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u55 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u52 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u56 {
    position:absolute;
    left:0px;
    top:4px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:314px;
    top:188px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:224px;
    top:242px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:314px;
    top:237px;
    width:181px;
    height:22px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:396px;
    
}

#u60 {
    position:absolute;
    left:48px;
    top:59px;
    width:661px;
    height:267px
}

.u61_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:76px;
    top:0px;
    width:402px;
    height:20px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:26px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:478px;
    top:0px;
    width:178px;
    height:20px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:26px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:0px;
    top:20px;
    width:76px;
    height:20px;
}

#u67_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u68 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:76px;
    top:20px;
    width:402px;
    height:20px;
}

#u69_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:26px;
}

.u70 {
    position:absolute;
    left:2px;
    top:2px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u71_normal.png');
}

.u71_container {
    position:absolute;
    left:478px;
    top:20px;
    width:178px;
    height:20px;
}

#u71_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:26px;
}

.u72 {
    position:absolute;
    left:2px;
    top:2px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u73_normal.png');
}

.u73_container {
    position:absolute;
    left:0px;
    top:40px;
    width:76px;
    height:21px;
}

#u73_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:27px;
}

.u74 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u75_normal.png');
}

.u75_container {
    position:absolute;
    left:76px;
    top:40px;
    width:402px;
    height:21px;
}

#u75_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:27px;
}

.u76 {
    position:absolute;
    left:2px;
    top:2px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u77_normal.png');
}

.u77_container {
    position:absolute;
    left:478px;
    top:40px;
    width:178px;
    height:21px;
}

#u77_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:27px;
}

.u78 {
    position:absolute;
    left:2px;
    top:2px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:0px;
    top:61px;
    width:76px;
    height:201px;
}

#u79_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:207px;
}

.u80 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u81_normal.png');
}

.u81_container {
    position:absolute;
    left:76px;
    top:61px;
    width:402px;
    height:201px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:408px;
    height:207px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:398px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u83_normal.png');
}

.u83_container {
    position:absolute;
    left:478px;
    top:61px;
    width:178px;
    height:201px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:184px;
    height:207px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:174px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85 {
    position:absolute;
    left:112px;
    top:9px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u86 {
    position:absolute;
    left:222px;
    top:9px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u87 {
    position:absolute;
    left:332px;
    top:9px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:442px;
    top:9px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:552px;
    top:9px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u91 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u94_normal.png');
}

.u94_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u94_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u95 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96_normal {
    background-image: url('../CSU14___Gerenciar_Veiculos_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:118px;
    top:138px;
    width:61px;
    height:52px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:52px;
}

.u97 {
    position:absolute;
    left:2px;
    top:18px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

