body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:41px;
    top:124px;
    width:218px;
    height:455px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:455px;
}

.u3 {
    position:absolute;
    left:2px;
    top:220px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:513px;
    top:49px;
    width:295px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_menu {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u5_menu.png');
}

.u5_menu {
    position:absolute;
    left:483px;
    top:134px;
    width:296px;
    height:35px;
}

#u5_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:293px;
    height:32px;
}

#u6 {
    position:absolute;
    left:3px;
    top:3px;
    width:286px;
    height:25px
}

.u7_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:150px;
    top:0px;
    width:131px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:262px;
    top:181px;
    width:735px;
    height:361px;
    overflow:hidden;
}

#pd4u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u12 {
    position:absolute;
    left:292px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:47px;
    top:66px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:47px;
    top:92px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:47px;
    top:193px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:47px;
    top:219px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17 {
    position:absolute;
    left:47px;
    top:245px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:395px;
    top:62px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19 {
    position:absolute;
    left:150px;
    top:62px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u20 {
    position:absolute;
    left:150px;
    top:185px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u21 {
    position:absolute;
    left:150px;
    top:215px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:150px;
    top:95px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u23 {
    position:absolute;
    left:150px;
    top:245px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24_line {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u24_line.png');
}

.u24_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:247px;
}

.u24 {
    position:absolute;
    left:362px;
    top:43px;
    width:10px;
    height:247px;
    
}

.u25 {
    position:absolute;
    left:395px;
    top:245px;
    width:110px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:395px;
    top:88px;
    width:233px;
    height:137px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:579px;
    top:324px;
    width:54px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:515px;
    top:245px;
    width:113px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u29 {
    position:absolute;
    left:178px;
    top:300px;
    width:378px;
    height:26px;
    overflow:hidden;
}

#pd2u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:378px;
    height:26px;
    
}

.u30 {
    position:absolute;
    left:0px;
    top:4px;
    width:371px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:378px;
    height:26px;
    
}

.u31 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u29 {
    position:absolute;
    left:0px;
    top:0px;
    width:378px;
    height:26px;
    
}

.u32 {
    position:absolute;
    left:93px;
    top:5px;
    width:182px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:643px;
    top:324px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#pd3u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u34 {
    position:absolute;
    left:544px;
    top:315px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:632px;
    top:315px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:234px;
    top:3px;
    width:204px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:113px;
    top:68px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:113px;
    top:94px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:113px;
    top:195px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:113px;
    top:221px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:113px;
    top:247px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:455px;
    top:66px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_line {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u43_line.png');
}

.u43_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:225px;
}

.u43 {
    position:absolute;
    left:427px;
    top:54px;
    width:10px;
    height:225px;
    
}

.u44 {
    position:absolute;
    left:490px;
    top:102px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:490px;
    top:134px;
    width:125px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:212px;
    top:66px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u47 {
    position:absolute;
    left:212px;
    top:189px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:212px;
    top:219px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49 {
    position:absolute;
    left:212px;
    top:99px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:212px;
    top:249px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u51 {
    position:absolute;
    left:280px;
    top:0px;
    width:183px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:522px;
    top:320px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:632px;
    top:320px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u54 {
    position:absolute;
    left:53px;
    top:28px;
    width:647px;
    height:282px
}

.u55_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:642px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:20px;
    width:642px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:40px;
    width:642px;
    height:237px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:243px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u61 {
    position:absolute;
    left:459px;
    top:316px;
    width:81px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u62 {
    position:absolute;
    left:550px;
    top:316px;
    width:78px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u63 {
    position:absolute;
    left:638px;
    top:316px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u64 {
    position:absolute;
    left:260px;
    top:0px;
    width:255px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:68px;
    top:67px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:68px;
    top:93px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:68px;
    top:194px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:68px;
    top:220px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:68px;
    top:246px;
    width:86px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:416px;
    top:63px;
    width:73px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71_line {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u71_line.png');
}

.u71_line {
    position:absolute;
    left:4px;
    top:0px;
    width:3px;
    height:247px;
}

.u71 {
    position:absolute;
    left:382px;
    top:44px;
    width:10px;
    height:247px;
    
}

.u72 {
    position:absolute;
    left:416px;
    top:89px;
    width:233px;
    height:137px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u73 {
    position:absolute;
    left:164px;
    top:66px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u74 {
    position:absolute;
    left:164px;
    top:189px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u75 {
    position:absolute;
    left:164px;
    top:219px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u76 {
    position:absolute;
    left:164px;
    top:99px;
    width:180px;
    height:80px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:164px;
    top:249px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u78 {
    position:absolute;
    left:517px;
    top:326px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:627px;
    top:326px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u80 {
    position:absolute;
    left:53px;
    top:28px;
    width:647px;
    height:277px
}

.u81_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u55_normal.png');
}

.u81_container {
    position:absolute;
    left:0px;
    top:0px;
    width:642px;
    height:20px;
}

#u81_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:26px;
}

.u82 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u83_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u57_normal.png');
}

.u83_container {
    position:absolute;
    left:0px;
    top:20px;
    width:642px;
    height:20px;
}

#u83_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:26px;
}

.u84 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u85_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u85_normal.png');
}

.u85_container {
    position:absolute;
    left:0px;
    top:40px;
    width:642px;
    height:232px;
}

#u85_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:648px;
    height:238px;
}

.u86 {
    position:absolute;
    left:2px;
    top:2px;
    width:638px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u87_normal.png');
}

.u87_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u87_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u88 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u89_normal {
    background-image: url('../CSU19___Gerenciar_enquetes_files/u89_normal.png');
}

.u89_container {
    position:absolute;
    left:123px;
    top:138px;
    width:60px;
    height:45px;
}

#u89_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:45px;
}

.u90 {
    position:absolute;
    left:2px;
    top:14px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:59px;
    top:195px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:59px;
    top:233px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:59px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u94 {
    position:absolute;
    left:59px;
    top:308px;
    width:184px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:60px;
    top:348px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u96 {
    position:absolute;
    left:59px;
    top:385px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:61px;
    top:493px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:58px;
    top:531px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99 {
    position:absolute;
    left:58px;
    top:455px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:58px;
    top:420px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

