body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u2 {
    position:absolute;
    left:269px;
    top:138px;
    width:735px;
    height:399px;
    overflow:hidden;
}

#pd4u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:399px;
    
}

.u3 {
    position:absolute;
    left:531px;
    top:352px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u4 {
    position:absolute;
    left:260px;
    top:5px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:632px;
    top:352px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u6 {
    position:absolute;
    left:232px;
    top:147px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:232px;
    top:182px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:290px;
    top:143px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u9 {
    position:absolute;
    left:290px;
    top:178px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u10 {
    position:absolute;
    left:276px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u11 {
    position:absolute;
    left:242px;
    top:242px;
    width:239px;
    height:29px;
    overflow:hidden;
}

#pd2u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u12 {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u13 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u11 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:29px;
    
}

.u14 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd3u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:399px;
    
}

.u15 {
    position:absolute;
    left:249px;
    top:4px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:540px;
    top:358px;
    width:66px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u17 {
    position:absolute;
    left:184px;
    top:304px;
    width:279px;
    height:26px;
    overflow:hidden;
}

#pd2u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u18 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u19 {
    position:absolute;
    left:0px;
    top:4px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u17 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u20 {
    position:absolute;
    left:0px;
    top:4px;
    width:338px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:625px;
    top:358px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u22 {
    position:absolute;
    left:55px;
    top:87px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:55px;
    top:124px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u24 {
    position:absolute;
    left:189px;
    top:82px;
    width:469px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:189px;
    top:124px;
    width:469px;
    height:111px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:45px;
    top:250px;
    width:144px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:199px;
    top:257px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:385px;
    top:249px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:525px;
    top:256px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd2u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:399px;
    
}

.u30 {
    position:absolute;
    left:285px;
    top:6px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:560px;
    top:356px;
    width:67px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:637px;
    top:356px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:45px;
    top:77px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:45px;
    top:114px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:179px;
    top:72px;
    width:469px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u36 {
    position:absolute;
    left:179px;
    top:114px;
    width:469px;
    height:111px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:45px;
    top:250px;
    width:144px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:199px;
    top:257px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:385px;
    top:249px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:525px;
    top:256px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd1u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:399px;
    
}

.u41 {
    position:absolute;
    left:287px;
    top:0px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:547px;
    top:357px;
    width:71px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:65px;
    top:57px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:65px;
    top:94px;
    width:124px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:199px;
    top:52px;
    width:460px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#u46 {
    position:absolute;
    left:238px;
    top:283px;
    width:279px;
    height:26px;
    overflow:hidden;
}

#pd2u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u47 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u48 {
    position:absolute;
    left:0px;
    top:4px;
    width:275px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u46 {
    position:absolute;
    left:0px;
    top:0px;
    width:279px;
    height:26px;
    
}

.u49 {
    position:absolute;
    left:0px;
    top:4px;
    width:244px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u50 {
    position:absolute;
    left:634px;
    top:357px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:199px;
    top:94px;
    width:460px;
    height:111px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:45px;
    top:225px;
    width:144px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:199px;
    top:232px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:385px;
    top:224px;
    width:130px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:525px;
    top:231px;
    width:133px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u2 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:399px;
    
}

.u56 {
    position:absolute;
    left:113px;
    top:17px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:223px;
    top:17px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:333px;
    top:17px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u59 {
    position:absolute;
    left:443px;
    top:17px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:553px;
    top:17px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u61 {
    position:absolute;
    left:53px;
    top:70px;
    width:649px;
    height:295px
}

.u62_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:76px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:76px;
    top:0px;
    width:468px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:544px;
    top:0px;
    width:100px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:20px;
    width:76px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u70_normal.png');
}

.u70_container {
    position:absolute;
    left:76px;
    top:20px;
    width:468px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:544px;
    top:20px;
    width:100px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u68_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:40px;
    width:76px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u70_normal.png');
}

.u76_container {
    position:absolute;
    left:76px;
    top:40px;
    width:468px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u72_normal.png');
}

.u78_container {
    position:absolute;
    left:544px;
    top:40px;
    width:100px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u68_normal.png');
}

.u80_container {
    position:absolute;
    left:0px;
    top:60px;
    width:76px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u70_normal.png');
}

.u82_container {
    position:absolute;
    left:76px;
    top:60px;
    width:468px;
    height:20px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:26px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u72_normal.png');
}

.u84_container {
    position:absolute;
    left:544px;
    top:60px;
    width:100px;
    height:20px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:26px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u86_normal.png');
}

.u86_container {
    position:absolute;
    left:0px;
    top:80px;
    width:76px;
    height:210px;
}

#u86_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:82px;
    height:216px;
}

.u87 {
    position:absolute;
    left:2px;
    top:2px;
    width:72px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u88_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u88_normal.png');
}

.u88_container {
    position:absolute;
    left:76px;
    top:80px;
    width:468px;
    height:210px;
}

#u88_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:474px;
    height:216px;
}

.u89 {
    position:absolute;
    left:2px;
    top:2px;
    width:464px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u90_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u90_normal.png');
}

.u90_container {
    position:absolute;
    left:544px;
    top:80px;
    width:100px;
    height:210px;
}

#u90_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:106px;
    height:216px;
}

.u91 {
    position:absolute;
    left:2px;
    top:2px;
    width:96px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u97 {
    position:absolute;
    left:16px;
    top:0px;
    width:16px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98 {
    position:absolute;
    left:501px;
    top:32px;
    width:295px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u99_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u99_normal.png');
}

.u99_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u99_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u100 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u101_normal.png');
}

.u101_container {
    position:absolute;
    left:41px;
    top:124px;
    width:218px;
    height:455px;
}

#u101_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:455px;
}

.u102 {
    position:absolute;
    left:2px;
    top:220px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../CSU12___Publicar_no_mural_eletronico__Sindico__files/u103_normal.png');
}

.u103_container {
    position:absolute;
    left:121px;
    top:136px;
    width:63px;
    height:50px;
}

#u103_img {
    position:absolute;
    left:0px;
    top:0px;
    width:63px;
    height:50px;
}

.u104 {
    position:absolute;
    left:2px;
    top:17px;
    width:59px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:59px;
    top:195px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:59px;
    top:233px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:59px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:59px;
    top:308px;
    width:184px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:60px;
    top:348px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:59px;
    top:385px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111 {
    position:absolute;
    left:61px;
    top:493px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u112 {
    position:absolute;
    left:58px;
    top:531px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113 {
    position:absolute;
    left:58px;
    top:455px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u114 {
    position:absolute;
    left:58px;
    top:420px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

