* html .u41_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU21___Controlar_acesso_ao_predio_files/u41_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU21___Controlar_acesso_ao_predio_files/u63_normal.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU21___Controlar_acesso_ao_predio_files/u65_normal.png");
}

* html .u69_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU21___Controlar_acesso_ao_predio_files/u69_normal.png");
}

