body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -32px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:32px;
    top:9px;
    width:1024px;
    height:712px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:712px;
}

.u1 {
    position:absolute;
    left:2px;
    top:348px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_menu {
    background-image: url('../Home_files/u2_menu.png');
}

.u2_menu {
    position:absolute;
    left:171px;
    top:319px;
    width:718px;
    height:35px;
}

#u2_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:715px;
    height:32px;
}

#u3 {
    position:absolute;
    left:3px;
    top:3px;
    width:708px;
    height:25px
}

.u4_normal {
    background-image: url('../Home_files/esc_email_u4_normal.png');
}

.u4_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u4_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u5 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6_normal {
    background-image: url('../Home_files/sc_resposta_u6_normal.png');
}

.u6_container {
    position:absolute;
    left:150px;
    top:0px;
    width:131px;
    height:20px;
}

#u6_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u7 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8_normal {
    background-image: url('../Home_files/u8_normal.png');
}

.u8_container {
    position:absolute;
    left:281px;
    top:0px;
    width:141px;
    height:20px;
}

#u8_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:26px;
}

.u9 {
    position:absolute;
    left:2px;
    top:2px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10_normal {
    background-image: url('../Home_files/u10_normal.png');
}

.u10_container {
    position:absolute;
    left:422px;
    top:0px;
    width:140px;
    height:20px;
}

#u10_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u11 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_normal {
    background-image: url('../Home_files/u10_normal.png');
}

.u12_container {
    position:absolute;
    left:562px;
    top:0px;
    width:140px;
    height:20px;
}

#u12_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u13 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u14 {
    position:absolute;
    left:174px;
    top:370px;
    width:710px;
    height:296px;
    overflow:hidden;
}

#pd3u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:296px;
    
}

.u15 {
    position:absolute;
    left:242px;
    top:104px;
    width:254px;
    height:112px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:291px;
    top:16px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:296px;
    
}

.u17 {
    position:absolute;
    left:197px;
    top:83px;
    width:313px;
    height:192px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:276px;
    top:16px;
    width:150px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:296px;
    
}

.u19 {
    position:absolute;
    left:20px;
    top:4px;
    width:669px;
    height:288px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u14 {
    position:absolute;
    left:0px;
    top:0px;
    width:710px;
    height:296px;
    
}

.u20 {
    position:absolute;
    left:47px;
    top:73px;
    width:622px;
    height:144px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:276px;
    top:16px;
    width:173px;
    height:22px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

