body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u2_normal.png');
}

.u2_container {
    position:absolute;
    left:41px;
    top:124px;
    width:218px;
    height:455px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:455px;
}

.u3 {
    position:absolute;
    left:2px;
    top:220px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:59px;
    top:195px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:59px;
    top:233px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u6 {
    position:absolute;
    left:59px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:59px;
    top:308px;
    width:184px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u8 {
    position:absolute;
    left:60px;
    top:348px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:59px;
    top:385px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u10 {
    position:absolute;
    left:61px;
    top:493px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:58px;
    top:531px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:58px;
    top:455px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13 {
    position:absolute;
    left:58px;
    top:420px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:495px;
    top:49px;
    width:341px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_menu {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u15_menu.png');
}

.u15_menu {
    position:absolute;
    left:409px;
    top:136px;
    width:436px;
    height:35px;
}

#u15_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:433px;
    height:32px;
}

#u16 {
    position:absolute;
    left:3px;
    top:3px;
    width:426px;
    height:25px
}

.u17_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u17_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:150px;
    top:0px;
    width:131px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:281px;
    top:0px;
    width:140px;
    height:20px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u23 {
    position:absolute;
    left:264px;
    top:181px;
    width:725px;
    height:361px;
    overflow:hidden;
}

#pd7u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u24 {
    position:absolute;
    left:549px;
    top:320px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:260px;
    top:5px;
    width:181px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:636px;
    top:320px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:232px;
    top:147px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u28 {
    position:absolute;
    left:232px;
    top:182px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:290px;
    top:143px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:290px;
    top:178px;
    width:180px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:276px;
    top:70px;
    width:150px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u32 {
    position:absolute;
    left:242px;
    top:242px;
    width:239px;
    height:34px;
    overflow:hidden;
}

#pd2u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:34px;
    
}

.u33 {
    position:absolute;
    left:0px;
    top:4px;
    width:237px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:34px;
    
}

.u34 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u32 {
    position:absolute;
    left:0px;
    top:0px;
    width:239px;
    height:34px;
    
}

.u35 {
    position:absolute;
    left:0px;
    top:7px;
    width:231px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd6u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u36 {
    position:absolute;
    left:643px;
    top:325px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u37 {
    position:absolute;
    left:296px;
    top:0px;
    width:192px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:533px;
    top:325px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:40px;
    top:259px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:56px;
    top:143px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:56px;
    top:169px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:175px;
    top:259px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u43 {
    position:absolute;
    left:175px;
    top:135px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u44 {
    position:absolute;
    left:175px;
    top:165px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u45 {
    position:absolute;
    left:56px;
    top:203px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:56px;
    top:229px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:175px;
    top:195px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:175px;
    top:225px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u49_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u49_normal.png');
}

.u49_container {
    position:absolute;
    left:440px;
    top:93px;
    width:229px;
    height:182px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:235px;
    height:188px;
}

.u50 {
    position:absolute;
    left:2px;
    top:83px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:440px;
    top:67px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u52 {
    position:absolute;
    left:56px;
    top:70px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:175px;
    top:67px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u54 {
    position:absolute;
    left:8px;
    top:105px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:175px;
    top:101px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd5u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u56 {
    position:absolute;
    left:624px;
    top:323px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:296px;
    top:0px;
    width:192px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u58 {
    position:absolute;
    left:514px;
    top:323px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u59 {
    position:absolute;
    left:53px;
    top:29px;
    width:649px;
    height:275px
}

.u60_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u60_normal.png');
}

.u60_container {
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:20px;
}

#u60_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u61 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u62_normal.png');
}

.u62_container {
    position:absolute;
    left:486px;
    top:0px;
    width:158px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u64_container {
    position:absolute;
    left:0px;
    top:20px;
    width:486px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:486px;
    top:20px;
    width:158px;
    height:20px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u68_container {
    position:absolute;
    left:0px;
    top:40px;
    width:486px;
    height:20px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u70_container {
    position:absolute;
    left:486px;
    top:40px;
    width:158px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u72_normal.png');
}

.u72_container {
    position:absolute;
    left:0px;
    top:60px;
    width:486px;
    height:210px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:216px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u74_normal.png');
}

.u74_container {
    position:absolute;
    left:486px;
    top:60px;
    width:158px;
    height:210px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:216px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd4u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u76 {
    position:absolute;
    left:624px;
    top:320px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u77 {
    position:absolute;
    left:296px;
    top:0px;
    width:165px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:514px;
    top:320px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u79 {
    position:absolute;
    left:40px;
    top:259px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:56px;
    top:143px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:56px;
    top:169px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82 {
    position:absolute;
    left:175px;
    top:259px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u83 {
    position:absolute;
    left:175px;
    top:135px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u84 {
    position:absolute;
    left:175px;
    top:165px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u85 {
    position:absolute;
    left:56px;
    top:203px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u86 {
    position:absolute;
    left:56px;
    top:229px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:175px;
    top:195px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:175px;
    top:225px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u49_normal.png');
}

.u89_container {
    position:absolute;
    left:440px;
    top:93px;
    width:229px;
    height:182px;
}

#u89_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:235px;
    height:188px;
}

.u90 {
    position:absolute;
    left:2px;
    top:83px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:440px;
    top:67px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u92 {
    position:absolute;
    left:56px;
    top:70px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u93 {
    position:absolute;
    left:175px;
    top:67px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u94 {
    position:absolute;
    left:8px;
    top:105px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:175px;
    top:101px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd3u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u96 {
    position:absolute;
    left:624px;
    top:323px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u97 {
    position:absolute;
    left:514px;
    top:323px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u98 {
    position:absolute;
    left:53px;
    top:29px;
    width:649px;
    height:275px
}

.u99_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u60_normal.png');
}

.u99_container {
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:20px;
}

#u99_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u100 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u62_normal.png');
}

.u101_container {
    position:absolute;
    left:486px;
    top:0px;
    width:158px;
    height:20px;
}

#u101_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u102 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u103_container {
    position:absolute;
    left:0px;
    top:20px;
    width:486px;
    height:20px;
}

#u103_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u104 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u105_container {
    position:absolute;
    left:486px;
    top:20px;
    width:158px;
    height:20px;
}

#u105_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u106 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u107_container {
    position:absolute;
    left:0px;
    top:40px;
    width:486px;
    height:20px;
}

#u107_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u108 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u109_container {
    position:absolute;
    left:486px;
    top:40px;
    width:158px;
    height:20px;
}

#u109_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u110 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u111_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u72_normal.png');
}

.u111_container {
    position:absolute;
    left:0px;
    top:60px;
    width:486px;
    height:210px;
}

#u111_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:216px;
}

.u112 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u113_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u74_normal.png');
}

.u113_container {
    position:absolute;
    left:486px;
    top:60px;
    width:158px;
    height:210px;
}

#u113_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:216px;
}

.u114 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u115 {
    position:absolute;
    left:76px;
    top:82px;
    width:192px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u116 {
    position:absolute;
    left:76px;
    top:115px;
    width:584px;
    height:162px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u117 {
    position:absolute;
    left:249px;
    top:0px;
    width:175px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u118 {
    position:absolute;
    left:560px;
    top:312px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u119 {
    position:absolute;
    left:226px;
    top:304px;
    width:285px;
    height:42px;
    overflow:hidden;
}

#pd1u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:285px;
    height:42px;
    
}

.u120 {
    position:absolute;
    left:25px;
    top:7px;
    width:205px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u119 {
    position:absolute;
    left:0px;
    top:0px;
    width:285px;
    height:42px;
    
}

.u121 {
    position:absolute;
    left:25px;
    top:15px;
    width:205px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u122 {
    position:absolute;
    left:406px;
    top:325px;
    width:89px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u123 {
    position:absolute;
    left:614px;
    top:325px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u124 {
    position:absolute;
    left:271px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u125 {
    position:absolute;
    left:504px;
    top:325px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u126 {
    position:absolute;
    left:40px;
    top:259px;
    width:115px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u127 {
    position:absolute;
    left:56px;
    top:143px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u128 {
    position:absolute;
    left:56px;
    top:169px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u129 {
    position:absolute;
    left:175px;
    top:259px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u130 {
    position:absolute;
    left:175px;
    top:135px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u131 {
    position:absolute;
    left:175px;
    top:165px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u132 {
    position:absolute;
    left:56px;
    top:203px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u133 {
    position:absolute;
    left:56px;
    top:229px;
    width:99px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u134 {
    position:absolute;
    left:175px;
    top:195px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u135 {
    position:absolute;
    left:175px;
    top:225px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u136_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u49_normal.png');
}

.u136_container {
    position:absolute;
    left:440px;
    top:93px;
    width:229px;
    height:182px;
}

#u136_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:235px;
    height:188px;
}

.u137 {
    position:absolute;
    left:2px;
    top:83px;
    width:225px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u138 {
    position:absolute;
    left:440px;
    top:67px;
    width:97px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u139 {
    position:absolute;
    left:56px;
    top:70px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u140 {
    position:absolute;
    left:175px;
    top:67px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u141 {
    position:absolute;
    left:8px;
    top:105px;
    width:148px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u142 {
    position:absolute;
    left:175px;
    top:101px;
    width:180px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd0u23 {
    position:absolute;
    left:0px;
    top:0px;
    width:725px;
    height:361px;
    
}

.u143 {
    position:absolute;
    left:624px;
    top:323px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u144 {
    position:absolute;
    left:514px;
    top:323px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u145 {
    position:absolute;
    left:53px;
    top:29px;
    width:649px;
    height:275px
}

.u146_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u60_normal.png');
}

.u146_container {
    position:absolute;
    left:0px;
    top:0px;
    width:486px;
    height:20px;
}

#u146_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u147 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u148_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u62_normal.png');
}

.u148_container {
    position:absolute;
    left:486px;
    top:0px;
    width:158px;
    height:20px;
}

#u148_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u149 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u150_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u150_container {
    position:absolute;
    left:0px;
    top:20px;
    width:486px;
    height:20px;
}

#u150_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u151 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u152_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u152_container {
    position:absolute;
    left:486px;
    top:20px;
    width:158px;
    height:20px;
}

#u152_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u153 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u154_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u64_normal.png');
}

.u154_container {
    position:absolute;
    left:0px;
    top:40px;
    width:486px;
    height:20px;
}

#u154_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:26px;
}

.u155 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u156_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u66_normal.png');
}

.u156_container {
    position:absolute;
    left:486px;
    top:40px;
    width:158px;
    height:20px;
}

#u156_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:26px;
}

.u157 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u158_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u72_normal.png');
}

.u158_container {
    position:absolute;
    left:0px;
    top:60px;
    width:486px;
    height:210px;
}

#u158_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:492px;
    height:216px;
}

.u159 {
    position:absolute;
    left:2px;
    top:2px;
    width:482px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u160_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u74_normal.png');
}

.u160_container {
    position:absolute;
    left:486px;
    top:60px;
    width:158px;
    height:210px;
}

#u160_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:164px;
    height:216px;
}

.u161 {
    position:absolute;
    left:2px;
    top:2px;
    width:154px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u162_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u162_normal.png');
}

.u162_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u162_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u163 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u164_normal {
    background-image: url('../CSU17___Gerenciar_Reservas_de_Ambientes_files/u164_normal.png');
}

.u164_container {
    position:absolute;
    left:123px;
    top:139px;
    width:58px;
    height:49px;
}

#u164_img {
    position:absolute;
    left:0px;
    top:0px;
    width:58px;
    height:49px;
}

.u165 {
    position:absolute;
    left:2px;
    top:16px;
    width:54px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

