* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u9_normal.png");
}

* html .u11_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u11_normal.png");
}

* html .u13_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png");
}

* html .u15_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u11_normal.png");
}

* html .u17_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png");
}

* html .u19_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u19_normal.png");
}

* html .u21_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u21_normal.png");
}

* html .u35_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u35_normal.png");
}

* html .u37_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u35_normal.png");
}

* html .u53_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u53_normal.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u55_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u57_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u59_normal.png");
}

* html .u61_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u61_normal.png");
}

* html .u63_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u63_normal.png");
}

* html .u65_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u65_normal.png");
}

* html .u67_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u67_normal.png");
}

* html .u79_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u79_normal.png");
}

