body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2 {
    position:absolute;
    left:478px;
    top:33px;
    width:371px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u3 {
    position:absolute;
    left:269px;
    top:142px;
    width:735px;
    height:408px;
    overflow:hidden;
}

#pd2u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u4 {
    position:absolute;
    left:258px;
    top:10px;
    width:182px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:619px;
    top:368px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u6 {
    position:absolute;
    left:43px;
    top:43px;
    width:658px;
    height:301px
}

.u7_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:181px;
    top:0px;
    width:472px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:0px;
    top:20px;
    width:181px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:181px;
    top:20px;
    width:472px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u11_normal.png');
}

.u15_container {
    position:absolute;
    left:0px;
    top:40px;
    width:181px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:181px;
    top:40px;
    width:472px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u19_normal.png');
}

.u19_container {
    position:absolute;
    left:0px;
    top:60px;
    width:181px;
    height:236px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:242px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:181px;
    top:60px;
    width:472px;
    height:236px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:242px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u23 {
    position:absolute;
    left:528px;
    top:362px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u24 {
    position:absolute;
    left:638px;
    top:362px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:265px;
    top:0px;
    width:192px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:309px;
    top:257px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:423px;
    top:257px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:309px;
    top:295px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:423px;
    top:295px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:269px;
    top:263px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:269px;
    top:301px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:309px;
    top:219px;
    width:218px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u33 {
    position:absolute;
    left:189px;
    top:222px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:194px;
    top:80px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:380px;
    top:106px;
    width:141px;
    height:80px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:86px;
}

.u36 {
    position:absolute;
    left:2px;
    top:32px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u35_normal.png');
}

.u37_container {
    position:absolute;
    left:221px;
    top:106px;
    width:141px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u3 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u47 {
    position:absolute;
    left:159px;
    top:22px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u48 {
    position:absolute;
    left:57px;
    top:25px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:621px;
    top:366px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:429px;
    top:366px;
    width:182px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u51 {
    position:absolute;
    left:251px;
    top:366px;
    width:168px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u52 {
    position:absolute;
    left:51px;
    top:68px;
    width:655px;
    height:261px
}

.u53_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:0px;
    top:0px;
    width:539px;
    height:20px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:545px;
    height:26px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:535px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:539px;
    top:0px;
    width:111px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:0px;
    top:20px;
    width:539px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:545px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:535px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:539px;
    top:20px;
    width:111px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:0px;
    top:40px;
    width:539px;
    height:216px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:545px;
    height:222px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:535px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:539px;
    top:40px;
    width:111px;
    height:216px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:117px;
    height:222px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:107px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u65_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u66 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:41px;
    top:124px;
    width:218px;
    height:455px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:455px;
}

.u68 {
    position:absolute;
    left:2px;
    top:220px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69 {
    position:absolute;
    left:59px;
    top:195px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70 {
    position:absolute;
    left:59px;
    top:233px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:59px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:59px;
    top:308px;
    width:184px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:60px;
    top:348px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:59px;
    top:385px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:61px;
    top:493px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:58px;
    top:531px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:58px;
    top:455px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:58px;
    top:420px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79_normal {
    background-image: url('../Copy_of_CSU23___Visualizar_movimenta_ao_financeira_files/u79_normal.png');
}

.u79_container {
    position:absolute;
    left:121px;
    top:138px;
    width:61px;
    height:50px;
}

#u79_img {
    position:absolute;
    left:0px;
    top:0px;
    width:61px;
    height:50px;
}

.u80 {
    position:absolute;
    left:2px;
    top:17px;
    width:57px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

