body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:478px;
    top:33px;
    width:371px;
    height:72px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u5 {
    position:absolute;
    left:269px;
    top:142px;
    width:735px;
    height:408px;
    overflow:hidden;
}

#pd2u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u6 {
    position:absolute;
    left:258px;
    top:10px;
    width:182px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:619px;
    top:368px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u8 {
    position:absolute;
    left:43px;
    top:43px;
    width:658px;
    height:301px
}

.u9_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:181px;
    top:0px;
    width:472px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u13_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png');
}

.u13_container {
    position:absolute;
    left:0px;
    top:20px;
    width:181px;
    height:20px;
}

#u13_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u14 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u15_normal.png');
}

.u15_container {
    position:absolute;
    left:181px;
    top:20px;
    width:472px;
    height:20px;
}

#u15_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u16 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u17_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u13_normal.png');
}

.u17_container {
    position:absolute;
    left:0px;
    top:40px;
    width:181px;
    height:20px;
}

#u17_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u18 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u19_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u15_normal.png');
}

.u19_container {
    position:absolute;
    left:181px;
    top:40px;
    width:472px;
    height:20px;
}

#u19_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:26px;
}

.u20 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u21_normal.png');
}

.u21_container {
    position:absolute;
    left:0px;
    top:60px;
    width:181px;
    height:236px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:242px;
}

.u22 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u23_normal.png');
}

.u23_container {
    position:absolute;
    left:181px;
    top:60px;
    width:472px;
    height:236px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:478px;
    height:242px;
}

.u24 {
    position:absolute;
    left:2px;
    top:2px;
    width:468px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u25 {
    position:absolute;
    left:265px;
    top:0px;
    width:192px;
    height:38px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u26 {
    position:absolute;
    left:528px;
    top:362px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u27 {
    position:absolute;
    left:638px;
    top:362px;
    width:77px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u28 {
    position:absolute;
    left:309px;
    top:257px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u29 {
    position:absolute;
    left:423px;
    top:257px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u30 {
    position:absolute;
    left:309px;
    top:295px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u31 {
    position:absolute;
    left:423px;
    top:295px;
    width:104px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u32 {
    position:absolute;
    left:269px;
    top:263px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33 {
    position:absolute;
    left:269px;
    top:301px;
    width:30px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:309px;
    top:219px;
    width:218px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u35 {
    position:absolute;
    left:189px;
    top:222px;
    width:109px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:194px;
    top:80px;
    width:50px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:380px;
    top:106px;
    width:141px;
    height:80px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:86px;
}

.u38 {
    position:absolute;
    left:2px;
    top:32px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u37_normal.png');
}

.u39_container {
    position:absolute;
    left:221px;
    top:106px;
    width:141px;
    height:80px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:147px;
    height:86px;
}

.u40 {
    position:absolute;
    left:2px;
    top:32px;
    width:137px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:16px;
    top:0px;
    width:82px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u48 {
    position:absolute;
    left:16px;
    top:0px;
    width:92px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u5 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:408px;
    
}

.u49 {
    position:absolute;
    left:159px;
    top:22px;
    width:180px;
    height:22px;
    ;
    ;
    ;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u50 {
    position:absolute;
    left:57px;
    top:25px;
    width:114px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:621px;
    top:366px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u52 {
    position:absolute;
    left:468px;
    top:366px;
    width:143px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u53 {
    position:absolute;
    left:287px;
    top:366px;
    width:171px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u54 {
    position:absolute;
    left:51px;
    top:68px;
    width:650px;
    height:274px
}

.u55_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u55_normal.png');
}

.u55_container {
    position:absolute;
    left:0px;
    top:0px;
    width:503px;
    height:20px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:509px;
    height:26px;
}

.u56 {
    position:absolute;
    left:2px;
    top:2px;
    width:499px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u57_normal.png');
}

.u57_container {
    position:absolute;
    left:503px;
    top:0px;
    width:142px;
    height:20px;
}

#u57_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:26px;
}

.u58 {
    position:absolute;
    left:2px;
    top:2px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u59_normal.png');
}

.u59_container {
    position:absolute;
    left:0px;
    top:20px;
    width:503px;
    height:20px;
}

#u59_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:509px;
    height:26px;
}

.u60 {
    position:absolute;
    left:2px;
    top:2px;
    width:499px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u61_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u61_normal.png');
}

.u61_container {
    position:absolute;
    left:503px;
    top:20px;
    width:142px;
    height:20px;
}

#u61_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:26px;
}

.u62 {
    position:absolute;
    left:2px;
    top:2px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u63_normal.png');
}

.u63_container {
    position:absolute;
    left:0px;
    top:40px;
    width:503px;
    height:229px;
}

#u63_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:509px;
    height:235px;
}

.u64 {
    position:absolute;
    left:2px;
    top:2px;
    width:499px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u65_normal.png');
}

.u65_container {
    position:absolute;
    left:503px;
    top:40px;
    width:142px;
    height:229px;
}

#u65_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:148px;
    height:235px;
}

.u66 {
    position:absolute;
    left:2px;
    top:2px;
    width:138px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u67_normal.png');
}

.u67_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u67_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u68 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u69_normal {
    background-image: url('../CSU23___Visualizar_movimenta_ao_financeira_files/u69_normal.png');
}

.u69_container {
    position:absolute;
    left:119px;
    top:139px;
    width:60px;
    height:53px;
}

#u69_img {
    position:absolute;
    left:0px;
    top:0px;
    width:60px;
    height:53px;
}

.u70 {
    position:absolute;
    left:2px;
    top:18px;
    width:56px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u71 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u73 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u75 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u77 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u79 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u81 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

