body {
    margin: 0px;
    text-align: center;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
#main_container {
    position: relative;
    left: -22px;
    width: 1024px;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_container {
    position:absolute;
    left:22px;
    top:13px;
    width:1024px;
    height:618px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:1024px;
    height:618px;
}

.u1 {
    position:absolute;
    left:2px;
    top:301px;
    width:1020px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u2_container {
    position:absolute;
    left:43px;
    top:127px;
    width:218px;
    height:484px;
}

#u2_img {
    position:absolute;
    left:0px;
    top:0px;
    width:218px;
    height:484px;
}

.u3 {
    position:absolute;
    left:2px;
    top:234px;
    width:214px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u4 {
    position:absolute;
    left:495px;
    top:49px;
    width:341px;
    height:36px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5_menu {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u5_menu.png');
}

.u5_menu {
    position:absolute;
    left:408px;
    top:135px;
    width:437px;
    height:35px;
}

#u5_menu {
    position:absolute;
    left:-3px;
    top:-3px;
    width:434px;
    height:32px;
}

#u6 {
    position:absolute;
    left:3px;
    top:3px;
    width:427px;
    height:25px
}

.u7_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u7_normal.png');
}

.u7_container {
    position:absolute;
    left:0px;
    top:0px;
    width:150px;
    height:20px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:156px;
    height:26px;
}

.u8 {
    position:absolute;
    left:2px;
    top:2px;
    width:146px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u9_normal.png');
}

.u9_container {
    position:absolute;
    left:150px;
    top:0px;
    width:140px;
    height:20px;
}

#u9_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:146px;
    height:26px;
}

.u10 {
    position:absolute;
    left:2px;
    top:2px;
    width:136px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u11_normal.png');
}

.u11_container {
    position:absolute;
    left:290px;
    top:0px;
    width:131px;
    height:20px;
}

#u11_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:137px;
    height:26px;
}

.u12 {
    position:absolute;
    left:2px;
    top:2px;
    width:127px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u13 {
    position:absolute;
    left:265px;
    top:181px;
    width:735px;
    height:361px;
    overflow:hidden;
}

#pd5u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u14 {
    position:absolute;
    left:282px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u15 {
    position:absolute;
    left:571px;
    top:318px;
    width:60px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u16 {
    position:absolute;
    left:83px;
    top:78px;
    width:548px;
    height:224px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u17 {
    position:absolute;
    left:83px;
    top:44px;
    width:548px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u18 {
    position:absolute;
    left:44px;
    top:48px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u19 {
    position:absolute;
    left:18px;
    top:320px;
    width:536px;
    height:22px;
    overflow:hidden;
}

#pd2u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:536px;
    height:22px;
    
}

.u20 {
    position:absolute;
    left:25px;
    top:0px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd1u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:536px;
    height:22px;
    
}

.u21 {
    position:absolute;
    left:0px;
    top:0px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u19 {
    position:absolute;
    left:0px;
    top:0px;
    width:536px;
    height:22px;
    
}

.u22 {
    position:absolute;
    left:0px;
    top:0px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:646px;
    top:318px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#pd4u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u24 {
    position:absolute;
    left:518px;
    top:321px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u25 {
    position:absolute;
    left:628px;
    top:321px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u26 {
    position:absolute;
    left:308px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:44px;
    top:28px;
    width:657px;
    height:274px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

#pd3u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u28 {
    position:absolute;
    left:284px;
    top:0px;
    width:180px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u29 {
    position:absolute;
    left:595px;
    top:321px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u30 {
    position:absolute;
    left:51px;
    top:39px;
    width:649px;
    height:265px
}

.u31_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u31_normal.png');
}

.u31_container {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:20px;
}

#u31_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u32 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u33_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u33_normal.png');
}

.u33_container {
    position:absolute;
    left:181px;
    top:0px;
    width:463px;
    height:20px;
}

#u33_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u34 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u35_container {
    position:absolute;
    left:0px;
    top:20px;
    width:181px;
    height:20px;
}

#u35_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u36 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u37_container {
    position:absolute;
    left:181px;
    top:20px;
    width:463px;
    height:20px;
}

#u37_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u38 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u39_container {
    position:absolute;
    left:0px;
    top:40px;
    width:181px;
    height:20px;
}

#u39_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u40 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u41_container {
    position:absolute;
    left:181px;
    top:40px;
    width:463px;
    height:20px;
}

#u41_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u42 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u43_container {
    position:absolute;
    left:0px;
    top:60px;
    width:181px;
    height:20px;
}

#u43_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u44 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u45_container {
    position:absolute;
    left:181px;
    top:60px;
    width:463px;
    height:20px;
}

#u45_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u46 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u47_container {
    position:absolute;
    left:0px;
    top:80px;
    width:181px;
    height:20px;
}

#u47_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u48 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u49_container {
    position:absolute;
    left:181px;
    top:80px;
    width:463px;
    height:20px;
}

#u49_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u50 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u51_normal.png');
}

.u51_container {
    position:absolute;
    left:0px;
    top:100px;
    width:181px;
    height:160px;
}

#u51_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:166px;
}

.u52 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u53_normal.png');
}

.u53_container {
    position:absolute;
    left:181px;
    top:100px;
    width:463px;
    height:160px;
}

#u53_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:166px;
}

.u54 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd2u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u55 {
    position:absolute;
    left:297px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u56 {
    position:absolute;
    left:517px;
    top:324px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u57 {
    position:absolute;
    left:44px;
    top:29px;
    width:645px;
    height:285px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u58 {
    position:absolute;
    left:627px;
    top:324px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#pd1u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u59 {
    position:absolute;
    left:627px;
    top:321px;
    width:73px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u60 {
    position:absolute;
    left:297px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#u61 {
    position:absolute;
    left:51px;
    top:39px;
    width:649px;
    height:281px
}

.u62_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u31_normal.png');
}

.u62_container {
    position:absolute;
    left:0px;
    top:0px;
    width:181px;
    height:20px;
}

#u62_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u63 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u33_normal.png');
}

.u64_container {
    position:absolute;
    left:181px;
    top:0px;
    width:463px;
    height:20px;
}

#u64_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u65 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u66_normal.png');
}

.u66_container {
    position:absolute;
    left:0px;
    top:20px;
    width:181px;
    height:36px;
}

#u66_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:42px;
}

.u67 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u68_normal.png');
}

.u68_container {
    position:absolute;
    left:181px;
    top:20px;
    width:463px;
    height:36px;
}

#u68_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:42px;
}

.u69 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u70_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u70_container {
    position:absolute;
    left:0px;
    top:56px;
    width:181px;
    height:20px;
}

#u70_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u71 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u72_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u72_container {
    position:absolute;
    left:181px;
    top:56px;
    width:463px;
    height:20px;
}

#u72_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u73 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u74_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u74_container {
    position:absolute;
    left:0px;
    top:76px;
    width:181px;
    height:20px;
}

#u74_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u75 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u76_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u76_container {
    position:absolute;
    left:181px;
    top:76px;
    width:463px;
    height:20px;
}

#u76_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u77 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u78_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u35_normal.png');
}

.u78_container {
    position:absolute;
    left:0px;
    top:96px;
    width:181px;
    height:20px;
}

#u78_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:26px;
}

.u79 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u80_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u37_normal.png');
}

.u80_container {
    position:absolute;
    left:181px;
    top:96px;
    width:463px;
    height:20px;
}

#u80_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:26px;
}

.u81 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u82_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u51_normal.png');
}

.u82_container {
    position:absolute;
    left:0px;
    top:116px;
    width:181px;
    height:160px;
}

#u82_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:187px;
    height:166px;
}

.u83 {
    position:absolute;
    left:2px;
    top:2px;
    width:177px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u84_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u53_normal.png');
}

.u84_container {
    position:absolute;
    left:181px;
    top:116px;
    width:463px;
    height:160px;
}

#u84_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:469px;
    height:166px;
}

.u85 {
    position:absolute;
    left:2px;
    top:2px;
    width:459px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u13 {
    position:absolute;
    left:0px;
    top:0px;
    width:735px;
    height:361px;
    
}

.u86 {
    position:absolute;
    left:282px;
    top:0px;
    width:150px;
    height:19px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u87 {
    position:absolute;
    left:551px;
    top:315px;
    width:100px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u88 {
    position:absolute;
    left:83px;
    top:78px;
    width:548px;
    height:224px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u89 {
    position:absolute;
    left:83px;
    top:44px;
    width:548px;
    height:20px;
    ;
    ;
    text-align: left;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u90 {
    position:absolute;
    left:44px;
    top:48px;
    width:39px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u91 {
    position:absolute;
    left:650px;
    top:44px;
    width:32px;
    height:20px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

#u92 {
    position:absolute;
    left:174px;
    top:319px;
    width:368px;
    height:22px;
    overflow:hidden;
}

#pd1u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:22px;
    
}

.u93 {
    position:absolute;
    left:0px;
    top:0px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

#pd0u92 {
    position:absolute;
    left:0px;
    top:0px;
    width:368px;
    height:22px;
    
}

.u94 {
    position:absolute;
    left:0px;
    top:0px;
    width:366px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u95 {
    position:absolute;
    left:661px;
    top:315px;
    width:68px;
    height:25px;
    ;
    ;
    text-align: center;;
    font-family:'Arial';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:bold;
    text-decoration:none;
    
}

.u96_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u96_normal.png');
}

.u96_container {
    position:absolute;
    left:952px;
    top:90px;
    width:52px;
    height:47px;
}

#u96_img {
    position:absolute;
    left:0px;
    top:0px;
    width:52px;
    height:47px;
}

.u97 {
    position:absolute;
    left:2px;
    top:16px;
    width:48px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u98_normal {
    background-image: url('../Copy_of_CSU20___Gerenciar_emails_files/u98_normal.png');
}

.u98_container {
    position:absolute;
    left:123px;
    top:140px;
    width:53px;
    height:48px;
}

#u98_img {
    position:absolute;
    left:0px;
    top:0px;
    width:53px;
    height:48px;
}

.u99 {
    position:absolute;
    left:2px;
    top:16px;
    width:49px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u100 {
    position:absolute;
    left:62px;
    top:198px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u101 {
    position:absolute;
    left:60px;
    top:234px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u102 {
    position:absolute;
    left:61px;
    top:269px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u103 {
    position:absolute;
    left:60px;
    top:309px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u104 {
    position:absolute;
    left:61px;
    top:343px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u105 {
    position:absolute;
    left:62px;
    top:382px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u106 {
    position:absolute;
    left:62px;
    top:457px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u107 {
    position:absolute;
    left:62px;
    top:568px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u108 {
    position:absolute;
    left:62px;
    top:419px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u109 {
    position:absolute;
    left:62px;
    top:533px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u110 {
    position:absolute;
    left:62px;
    top:497px;
    width:182px;
    height:32px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

