* html .u2_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u2_normal.png");
}

* html .u5_menu {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u5_menu.png");
}

* html .u7_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u7_normal.png");
}

* html .u9_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u9_normal.png");
}

* html .u24_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u24_line.png");
}

* html .u43_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u43_line.png");
}

* html .u55_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u55_normal.png");
}

* html .u57_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u57_normal.png");
}

* html .u59_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u59_normal.png");
}

* html .u71_line {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u71_line.png");
}

* html .u81_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u55_normal.png");
}

* html .u83_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u57_normal.png");
}

* html .u85_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u85_normal.png");
}

* html .u87_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u87_normal.png");
}

* html .u89_normal {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="CSU19___Gerenciar_enquetes_files/u89_normal.png");
}

